/* ----- Generelle indstillinger ---------------*/


































































































/* ----- Generelle indstillinger SLUT ---------------*/

/* ----------- Index indstillinger ---------------*/




#forside h1 {
    font-size: 20pt;
    font-family: helvetica;
    color: red;
}

#forside p {
    font-family: helvetica;
    font-size: 20rem;
    color: red;
}





































/* ----- Index indstillinger Slut ---------------*/

/* ----------- aabningstider indstillinger ---------------*/


#aabningstider h1 {
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
}

















































/* ----------- aabningstider indstillinger SLUT ---------------*/

/* ----------- kontakt indstillinger ---------------*/




#kontakt {
    font-size: 40px;
    font-style: italic;
}






























































































/* ----------- kontakt indstillinger SLUT ---------------*/

/* ----------- om indstillinger ---------------*/


































































































/* ----------- om indstillinger SLUT ---------------*/
